$gray-1: #cccccc;

$general-1: #234F84;
$general-2: #0f64a0;
$general-3: #0087bf;
$general-4: #54a5cf;
$general-5: #86c6e3;
$general-6: #b4dbea;
$general-7: #e4f2f7;

$politics-1: #660066;
$politics-2: #7a2475;
$politics-3: #935d96;
$politics-4: #a880ac;
$politics-5: #bd98ba;
$politics-6: #dac7d8;

$wellness-1: #6cb643;
$wellness-2: #99c872;
$wellness-3: #b2d593;
$wellness-4: #cae3cb;

$sex-1: #c6307c;
$sex-2: #d5739d;
$sex-3: #e1aac0;
$sex-4: #f0d3dc;


$drugs-1: #e77929;
$drugs-2: #efa05e;
$drugs-3: #f3b572;
$drugs-4: #f6cc99;
$drugs-5: #fbe3c4;

$discipline-1: #b43432;
$discipline-2: #d47173;
$discipline-3: #e4a8a6;
$discipline-4: #f0d1ca;

$school-1: #292d74;
$school-2: #6d699d;
$school-3: #a9a4c2;
$school-4: #dddbe5;

$commdi-1: #009081;
$commdi-2: #35b39f;
$commdi-3: #95cfc3;
$commdi-4: #c8e6dd;
