/* IN SASS, OVERRIDE THESE VARIABLES WITH YOUR OWN. IF PLAIN CSS, IGNORE THIS COMMENT */
$ww-navbar-breakpoint: 600px !default;
$ww-navbar-transition-time: 0.2s !default;
$ww-navbar-height: 64px !default;
$ww-navbar-bg-color: #fff !default;
$ww-navbar-items-bg-color: #eee !default;
$ww-navbar-hamburger-margin: 24px !default;

.ww-navbar{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: $ww-navbar-height; /* OVERRIDE WITH YOUR OWN HEIGHT */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: $ww-navbar-bg-color; /* OVERRIDE WITH YOUR OWN BG COLOR */
}

.ww-navbar-items{
    height: 100%;
    display: flex;
    align-items: center;
}

#ww-navbar-check{
    display: none;
}

@media (min-width: $ww-navbar-breakpoint){
    .ww-navbar-hamburger{
        display: none;
    }
}

@media (max-width: $ww-navbar-breakpoint){
    .ww-navbar{
        justify-content: center;
    }

    .ww-navbar-items{
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: $ww-navbar-items-bg-color; /* OVERRIDE WITH YOUR OWN MENU BG COLOR */
        flex-flow: column nowrap;
        justify-content: center;
    }

    .ww-navbar-hamburger{
        position: absolute;
        z-index: 6;

        /* CENTERING VERTICALLY IN NAVBAR */
        top: 50%;
        transform: translateY(-50%);
    }

    .ww-navbar-left{
        .ww-navbar-items{
            left: 0;
            margin-left: -100%;
            transition: margin-left $ww-navbar-transition-time ease;
        }

        #ww-navbar-check:checked ~ .ww-navbar-items{
            margin-left: 0;
        }

        .ww-navbar-hamburger{
            left: $ww-navbar-hamburger-margin; /* OVERRIDE WITH YOUR OWN HAMBURGER BUTTON MARGIN */
        }
    }

    .ww-navbar-right{
        .ww-navbar-items{
            right: 0;
            margin-right: -100%;
            transition: margin-right $ww-navbar-transition-time ease;
        }

        #ww-navbar-check:checked ~ .ww-navbar-items{
            margin-right: 0;
        }

        .ww-navbar-hamburger{
            right: $ww-navbar-hamburger-margin; /* OVERRIDE WITH YOUR OWN HAMBURGER BUTTON MARGIN */
        }
    }
}