@import 'fonts';
@import 'colors-2019';

// test

body{
    margin: 0;
}

$main-width: 1500px;
$module-margin: 24px;
$axis-stroke-width: 2px;
$axis-stroke-color: #999;
$axis-text-margin: 4px;

section{
    padding: 48px 0;
    width: 100%;
}

h1{
    font-size: 56px;
    font-family: 'Gotham', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.container{
    max-width: $main-width;
    box-sizing: border-box;
    font-family: "Gotham", Arial, sans-serif;
    width: 100%;
    padding: 48px 24px;
    margin: 0 auto;
    display: grid;
    column-gap: $module-margin;
    background-color: #fff;
    grid-template-columns: minmax(0, 1fr);

    .module-two-wide{
        grid-column: 1/3;
    }
}

@media (min-width: 800px){
    .container{
        grid-template-columns: repeat(2,minmax(0, 1fr));
    }
}

@media (min-width: 1200px){
    .container{
        grid-template-columns: repeat(3,minmax(0, 1fr));
    }
}

.module{
    position: relative;
    width: 100%;

    > svg{
        width: 100%;
    }

    h3{
        font-family: 'Gotham', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    .subtitle{
        font-family: "Mercury Text G1", serif;
        opacity: 0.4;
    }

    text{ // replace this with CSS-in-JS
        pointer-events: none;
    }
}

.tooltip{ // replace this with CSS-in-JS
    background-color: #222;
    color: #fff;
    padding: 12px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -100%);
    white-space: nowrap;

    .sota-tooltip-label{
        font-weight: 700;
    }
}

.sota-barChart-label, .sota-pieChart-label, .sota-gen-groupLabel{
    font-family: 'Mercury Text G1', serif;
    font-weight: 700;
}

.sota-floatingLabel{ // replace this with CSS-in-JS
    font-weight: 700;
}

.sota-gen-axis{ // replace this with CSS-in-JS

    &.sota-gen-xAxis{
        .tick text{
            transform: translateY($axis-text-margin);
        }
    }

    &.sota-gen-yAxis{
        .tick text{
            transform: translateX(-$axis-text-margin - 4);
            text-anchor: end;
        }
    }

    .tick text{
        color: $axis-stroke-color;
        font-size: 16px;
        font-family: 'Gotham', sans-serif;
        font-weight: 700;
    }

    .tick line, path.domain{
        stroke-width: $axis-stroke-width;
        stroke: $axis-stroke-color;
    }
}

.sota-groupedBarChart-xAxis{
    .tick line{
        opacity: 0.2;
    }
}

.sota-big{
    font-weight: 700;
    font-size: 96px;
    line-height: 1.0;
    margin-top: -8px;
    font-family: "Mercury Text G1", serif;
}

#general{
    background-color: $general-1;
    color: $general-1;

    .sota-gen-bar{
        fill: $general-5;
    }

    .module-fill-1{
        fill: $general-1;
    }

    .module-fill-2{
        fill: $general-3;
    }

    .module-fill-3{
        fill: $general-5;
    }

    .module-fill-4{
        fill: $general-7;
    }
}

#discipline{
    background-color: $discipline-1;
    color: $discipline-1;

    .sota-gen-bar{
        fill: $discipline-1;
    }

    .module-fill-1{
        fill: $discipline-1;
    }

    .module-fill-2{
        fill: $discipline-2;
    }

    .module-fill-3{
        fill: $discipline-3;
    }

    .module-fill-4{
        fill: $discipline-4;
    }
}

#wellness{
    background-color: $wellness-1;
    color: $wellness-1;

    .sota-gen-bar{
        fill: $wellness-1;
    }

    .module-fill-1{
        fill: $wellness-1;
    }

    .module-fill-2{
        fill: $wellness-2;
    }

    .module-fill-3{
        fill: $wellness-3;
    }

    .module-fill-4{
        fill: $wellness-4;
    }
}

#politics{
    background-color: $politics-1;
    color: $politics-1;

    .sota-gen-bar{
        fill: $politics-1;
    }

    .module-fill-1{
        fill: $politics-1;
    }

    .module-fill-2{
        fill: $politics-2;
    }

    .module-fill-3{
        fill: $politics-3;
    }

    .module-fill-4{
        fill: $politics-4;
    }
}