@import 'fonts';
@import 'colors-2019';

body{
    margin: 0;
}

$main-width: 1500px;
$module-margin: 24px;
$axis-stroke-width: 2px;
$axis-stroke-color: #999;
$axis-text-margin: 4px;

section{
    padding: 48px 0;
    width: 100%;
}

h1{
    font-size: 56px;
    font-family: 'Gotham';
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.container{
    max-width: $main-width;
    box-sizing: border-box;
    font-family: "Gotham";
    width: 100%;
    padding: 48px 24px;
    margin: 0 auto;
    background-color: #fff;

    .module{
        position: relative;
        width: calc(33.3% - #{$module-margin * 2 / 3});
        margin-right: $module-margin;

        svg{
            width: 100%;
        }

        h3{
            font-family: 'Gotham';
            font-weight: 700;
            text-transform: uppercase;
        }

        .subtitle{
            font-family: "Mercury Text G1";
            opacity: 0.4;
        }

        text{
            pointer-events: none;
        }

        .sota-floatingLabel{
            font-weight: 700;
        }
        
        .sota-lineGraph-axis{

            &.sota-lineGraph-xAxis{
                .tick text{
                    transform: translateY($axis-text-margin);
                }
            }

            &.sota-lineGraph-yAxis{
                .tick text{
                    transform: translateX(-$axis-text-margin - 4);
                    text-anchor: middle;
                }
            }

            .tick text{
                color: $axis-stroke-color;
                font-size: 16px;
                font-family: 'Gotham';
                font-weight: 700;
            }

            .tick line, path.domain{
                stroke-width: $axis-stroke-width;
                stroke: $axis-stroke-color;
            }
        }
    }
}

.tooltip{
    background-color: #222;
    color: #fff;
    padding: 12px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -100%);
}

#general{
    background-color: $general-1;
    color: $general-1;

    .sota-barChart-bar{
        fill: $general-5;
    }

    .module-fill-1{
        fill: $general-1;
    }

    .module-fill-2{
        fill: $general-3;
    }

    .module-fill-3{
        fill: $general-5;
    }

    .module-fill-4{
        fill: $general-7;
    }
}

#discipline{
    background-color: $discipline-1;
    color: $discipline-1;
}